/* Navbar styling */
.navbar-custom {
    background-color: #f7f1f1;
    width: 100%;
    height: 70px;
    margin: 20px auto;
    border-radius: 50px;
 
    background-image: linear-gradient(30deg, #0048bd, #44a7fd);
  }
  
  /* Logo */
  .brand-name {
    font-weight: bolder;
    font-size: 30px;
    color: #fff;
  }
  
  /* Profile Section */
  .profile-img {
    width: 50px;
  }
  
  .profile-text {
    font-weight: 500;
    color: #fff;
  }
  
  /* Responsive Design */
  @media (max-width: 992px) {
    .navbar-custom {
      width: 90%;
      height: auto;
      padding: 10px;
    }
  
    .brand-name {
      font-size: 24px;
    }
  
    .profile-img {
      width: 40px;
    }
  
    .profile-text {
      font-size: 14px;
    }
  }
  
  @media (max-width: 768px) {
    .navbar-custom {
      width: 95%;
      flex-direction: column;
      text-align: center;
    }
  
    .brand-name {
      font-size: 22px;
      margin-bottom: 10px;
    }
  
    .profile-img {
      width: 35px;
    }
  
    .profile-text {
      font-size: 12px;
    }
  }
  