/* Navbar background color */
.navbar-custom {
    background-color:#f7f1f1; 
    width: 80%;
    height: 70px;
    align-items: center;
   margin-left: 18%;
   border-radius: 50px;
   margin-top: 20px;
  position: absolute;
  top: 10px;
  background-image: url("../assets/slider.png");
  }
  
  
 
  
